
@model List<AshrafFirstWebsite.Models.About>

    <link href="~/Admin/vendor/simple-datatables/style.css" rel="stylesheet">

    <div class="col-12">
        <div class="card recent-sales">

            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    <a asp-controller="About" asp-action="Edit" class="btn btn-success">Add</a>
                </h5>


                <!-- Table with stripped rows -->
                <table class="table table-borderless datatable">

                    <thead>



                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Image</th>
                        </tr>


                    </thead>
                    <tbody>
                        @foreach (var items in Model)
                        {
                            <tr>

                                <td>@items.Name</td>
                                <td>@items.Age</td>
                                <td>@items.Email</td>
                                <td>@items.Address</td>
                                <td>@items.Phone</td>
                                <td>
                                    <img src="@string.Format("/Admin/img/{0}",items.Image)" width=50 height="50" />
                                </td>
                                <td>
                                    <a asp-controller="About" asp-action="Edit" asp-route-Id="@items.Id" class="btn btn-info">تعديل</a>
                                    <a asp-controller="About" asp-action="Delete" asp-route-Id="@items.Id" class="btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
       
   

<script src="~/Admin/vendor/simple-datatables/simple-datatables.js"></script>